@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div >

    @if (Model.Error != null)
    {
        <p>
            <strong>@Model.Error</strong>
        </p>
    }

    <div class="d-flex justify-content-between">
        <div class="col-9"></div>
        <a class="btn btn-primary col-2" asp-area="" asp-controller="Home" asp-action="Create">Create employee</a>
   </div>

    @{
        if (Model.Error == null && Model.Employees != null)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Position</th>
                        <th scope="col">Department</th>
                        <th scope="col">Hours</th>
                    </tr>
                </thead>
                    <tbody>
                    @{
                        int index = 1;
                        foreach (var employee in Model.Employees.Items)
                        {
                            <tr>
                            <th scope="row">@index</th>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.Email</td>
                            <td>@employee.PhoneNumber</td>
                            <td></td>
                            <td></td>
                            </tr>

                            index++;
                        }
                    }
                    </tbody>
                </table>
            }
        }

</div>
